.form-container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 2px 10px black;
  border-radius: 15px;
  min-width: 900px;
  min-height: 600px;
  background-color: aqua;
}

.form-side-bar {
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 10px;
  width: 30%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: red;
}

.form-side-bar > div {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-side-bar span {
  display: block;
}

.form-side-bar button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.form-side-bar button:hover {
  background-color: blue;
}

.form-main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0.5rem;
  gap: 1rem;
}

.form-main-container p > span {
  display: block;
}

.form-navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.form-your-info,
.form-select-plan,
.form-add-ons,
.form-summary,
.form-success {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: brown;
}

.form-select-plan > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: bisque;
}
